//.btn-add {
//  background-color: #5680E9 !important;
//  color: white;
//  font-weight: bold;
//  border: none;
//  outline: none;
//}

mat-form-field {
  width: 400px;
}

.addForm {
  margin: auto;
  width: 500px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5%;
}
