<div class="container-fluid mx-0 px-0">
  <div class="col mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-3 mx-0 px-0"></div>
      <div class="col-6 mx-0 px-0">
        <h4 class="head-title mt-4">TÌM KIẾM PHÒNG HỌP</h4>
        <mat-card class="form-search">
          <form [formGroup]="searchRoomForm">
            <table class="table-search">
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <mat-label class="require">Loại cuộc họp (*)</mat-label>
                    <mat-select formControlName="typeMeeting">
                      <ng-container *ngFor="let typeMeeting of typeMeetingList">
                        <mat-option value="{{typeMeeting.idTypeRoom}}">
                          {{typeMeeting.nameTypeRoom}}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <mat-label class="require">Địa điểm họp</mat-label>
                    <mat-select formControlName="region">
                      <ng-container *ngFor="let region of regionList">
                        <mat-option value="{{region.id}}">Khu {{region.name}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input formControlName="startTime" class="input-date require" matInput
                           [ngxMatDatetimePicker]="pickerStart"
                           placeholder="Thời gian bắt đầu (*)" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerStart></ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input formControlName="endTime" class="input-date require" matInput
                           [ngxMatDatetimePicker]="pickerEnd"
                           placeholder="Thời gian kết thúc (*)" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerEnd></ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input formControlName="numberOfUses" type="number" matInput placeholder="Số người tham dự">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <table class="list-asset">
                    <tr>
                      <td>
                        <mat-checkbox id="projector" (change)="checkChose($event)">Máy chiếu</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox id="audio" (change)="checkChose($event)">Loa, mic</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox id="paper" (change)="checkChose($event)">Giấy note</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox id="pen" (change)="checkChose($event)">Bút</mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox id="laptop" (change)="checkChose($event)">Laptop</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox id="table" (change)="checkChose($event)">Bàn</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox id="chair" (change)="checkChose($event)">Ghế</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox id="board" (change)="checkChose($event)">Bảng</mat-checkbox>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <div class="example-button-row">
                  </div>
                  <button mat-raised-button class="btn-search" (click)="search()">Tìm Kiếm</button>
                </td>
              </tr>
            </table>
          </form>
        </mat-card>
      </div>
      <div class="col-3 mx-0 px-0"></div>
    </div>
  </div>
  <br>
</div>
