<div class="container-fluid mx-0 px-0">
  <div class="col mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-3 mx-0 px-0"></div>
      <div class="col-6 mx-0 px-0">
        <h4 class="head-title mt-4">TÌM KIẾM PHÒNG HỌP</h4>
        <mat-card class="form-search">
          <table class="table-search">
            <tr>
              <td colspan="7">
                <mat-form-field class="input-select">
                  <mat-label>Loại cuộc họp <label class="title-content">(*)</label></mat-label>
                  <mat-select (valueChange)="ChooseTypeMeeting($event)">
                    <ng-container *ngFor="let typeMeeting of typeMeetingList">
                      <mat-option value="{{typeMeeting.idTypeMeeting}}">
                        {{typeMeeting.nameTypeMeeting}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <ng-container *ngIf="resultChooseTypeMeeting <= 2">
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <mat-label>Địa điểm họp <label class="title-content">(*)</label></mat-label>
                    <mat-select>
                      <ng-container *ngFor="let region of regionList">
                        <mat-option value="{{region.id}}">Khu {{region.name}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input class="input-date" matInput [ngxMatDatetimePicker]="pickerStart"
                           placeholder="Thời gian bắt đầu" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerStart></ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input class="input-date" matInput [ngxMatDatetimePicker]="pickerEnd"
                           placeholder="Thời gian kết thúc" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerEnd></ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input type="number" matInput placeholder="Số người tham dự">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <table class="list-asset">
                    <tr>
                      <td>
                        <mat-checkbox>Máy chiếu</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Loa, mic</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Giấy note</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Bút</mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox>Laptop</mat-checkbox>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="resultChooseTypeMeeting >= 4">
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <mat-label>Địa điểm họp <label class="title-content">(*)</label></mat-label>
                    <mat-select>
                      <ng-container *ngFor="let region of regionList">
                        <mat-option value="{{region.id}}">Khu {{region.name}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input (change)="ChooseNumberOfMeeting($event.target)" type="number" matInput
                           placeholder="Số lần họp">
                  </mat-form-field>
                </td>
              </tr>
              <ng-container *ngFor="let item of resultChooseNumberOfMeeting">
                <tr>
                  <td>
                    <mat-form-field>
                      <input class="input-date" matInput [ngxMatDatetimePicker]="item.split(',',2)[0]"
                             placeholder="Thời gian bắt đầu" readonly/>
                      <mat-datepicker-toggle matSuffix [for]="item.split(',',2)[0]"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker id="{{item.split(',',2)[0]}}"></ngx-mat-datetime-picker>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input class="input-date" matInput [ngxMatDatetimePicker]="item.split(',',2)[1]"
                             placeholder="Thời gian kết thúc" readonly/>
                      <mat-datepicker-toggle matSuffix [for]="item.split(',',2)[1]"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker id="{{item.split(',',2)[1]}}"></ngx-mat-datetime-picker>
                    </mat-form-field>
                  </td>
                </tr>
              </ng-container>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input type="number" matInput placeholder="Số người tham dự">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <table class="list-asset">
                    <tr>
                      <td>
                        <mat-checkbox>Máy chiếu</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Loa, mic</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Giấy note</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Bút</mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox>Laptop</mat-checkbox>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="resultChooseTypeMeeting == 3">
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <mat-label>Địa điểm họp <label class="title-content">(*)</label></mat-label>
                    <mat-select>
                      <ng-container *ngFor="let region of regionList">
                        <mat-option value="{{region.id}}">Khu {{region.name}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-label>Ngày trong tuần</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox>Thứ 2</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>Thứ 3</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>Thứ 4</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>Thứ 5</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>Thứ 6</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>Thứ 7</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>Chủ nhật</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input class="input-date" matInput [ngxMatDatetimePicker]="pickerStart"
                           placeholder="Thời gian bắt đầu" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerStart></ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input class="input-date" matInput [ngxMatDatetimePicker]="pickerEnd"
                           placeholder="Thời gian kết thúc" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerEnd></ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <mat-form-field class="input-select">
                    <input type="number" matInput placeholder="Số người tham dự">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <table class="list-asset">
                    <tr>
                      <td>
                        <mat-checkbox>Máy chiếu</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Loa, mic</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Giấy note</mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox>Bút</mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox>Laptop</mat-checkbox>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td colspan="7">
                <div class="example-button-row">
                </div>
                <button mat-raised-button class="btn-search">Tìm Kiếm</button>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
      <div class="col-3 mx-0 px-0"></div>
    </div>
  </div>
  <br>
</div>
