.btn-search {
  background-color: #5680E9 !important;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
}

.container-fluid{
  background-image: url("https://cdn.hipwallpaper.com/i/76/78/UeGbja.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -100;
}
